In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

import matplotlib.pyplot as plt
import pandas as pd
from src.model import BasicModel

plt.rcParams['figure.figsize'] = 15.7,13.27
plt.rcParams['font.family'] = 'AppleGothic'

class LEARN_INFO:
    def __init__(self, name, columns, is_contain_cluster_label=False, matching_type="general", jump=3):
        self.name = name
        self.columns = columns
        self.is_label = is_contain_cluster_label
        self.matching = matching_type
        self.jump = jump
    

# INPUT_REPORT_SIMULATION = [
#     LEARN_INFO(name="univariate", columns=['energy (kw 15min)'], is_contain_cluster_label=False),
#     LEARN_INFO(name="with cluster label", columns=['energy (kw 15min)'], is_contain_cluster_label=True),
# ]

DEFAULT_COLUMNS = [
    'energy (kw 15min)',
    ['week sin',
    'week cos'],
    ['year sin',
    'year cos'],
    'season idx',
    'weather idx',
    'avg ta',
    'avg rhm'
]

In [2]:
_ = {
    "univariate": ['energy (kw 15min)'],
}

# Input Report Simulation
IRS = []
    
for key in _.keys():
    IRS.append(
        LEARN_INFO(name=key, 
                   columns=_[key], 
                   is_contain_cluster_label=False),
    )
    
for key in _.keys():
    IRS.append(
        LEARN_INFO(name="{} / with cluster".format(key), 
                   columns=_[key], 
                   is_contain_cluster_label=True),
    )

# Training Model Array 
TMA = []

is_switch = False
compare_df = pd.DataFrame(columns=['non-cluster mae', 'cluster mae', 'winner'])

for _ in range(0, 100):
    MAE_LIST = []
    for _ in IRS:
        print("--- now info ---")

        bm = BasicModel(name=_.name,
                       columns=_.columns,
                       is_contain_cluster_label=_.is_label,
                       is_switch=is_switch,
                       matching_type=_.matching)
        bm.set_window(OUT_STEPS=3)
        bm.set_model()
        print(bm)
        print(compare_df)
        bm.training(epochs=50)

        bm.set_multi_predict(is_reshape=True)
        
        statistic = bm.statistic()
        
        MAE_LIST.append(statistic['mae'])
        
    winner = "non-cluster" if MAE_LIST[0] < MAE_LIST[1] else \
        "draw" if MAE_LIST[0] == MAE_LIST[1] else "with-cluster"
    compare_df = compare_df.append({
        "non-cluster mae": MAE_LIST[0],
        "cluster mae": MAE_LIST[1],
        "winner": winner
    }, ignore_index=True)

###### [Notice] (univariate / with cluster) set predict (test) info start ######

0 / 171
50 / 171
100 / 171
150 / 171
171 / 171 complete.

###### [Notice] set predict info success ######

In [5]:
compare_df[compare_df['winner'] == 'non-cluster']

    non-cluster mae  cluster mae       winner
0          0.385955     0.392664  non-cluster
1          0.386409     0.388977  non-cluster
2          0.386521     0.391064  non-cluster
3          0.386273     0.391255  non-cluster
4          0.385979     0.387314  non-cluster
..              ...          ...          ...
95         0.386343     0.389066  non-cluster
96         0.385699     0.385811  non-cluster
97         0.385331     0.389327  non-cluster
98         0.386542     0.392902  non-cluster
99         0.386210     0.387239  non-cluster

[89 rows x 3 columns]

In [6]:
compare_df[compare_df['winner'] == 'with-cluster']

    non-cluster mae  cluster mae        winner
19         0.385900     0.385339  with-cluster
20         0.387001     0.385943  with-cluster
22         0.386652     0.381544  with-cluster
24         0.386595     0.386441  with-cluster
41         0.386630     0.385711  with-cluster
42         0.386783     0.384843  with-cluster
43         0.386884     0.385975  with-cluster
46         0.386344     0.383699  with-cluster
49         0.386290     0.384704  with-cluster
52         0.387054     0.385341  with-cluster
73         0.386419     0.385037  with-cluster